{% extends 'base.html'%} {% block content %}
<div class="row">
    <ul class="collapsible" data-collapsible="accordion">
        {% for word in words %}
        <li>
            <div class="collapsible-header">
                <div class="col s3">
                    <i class="material-icons">expand_more</i>
                    <a href="{{url_for('delete_word', word_id=word._id)}}" class="waves-effect waves-light btn btn_small" style="padding-right: 65px; color: #004d40; background-color: #ffffff; border: 2px solid #004d40;">Delete</a>
                    <a href="{{url_for('edit_word', word_id=word._id)}}" class="waves-effect waves-light btn btn_small teal darken-4">Edit</a>
                    
                </div>
                <div class=" word_header col s9">
                    <strong>{{word.word_name}}</strong>
                </div>
            </div>
            <div class="collapsible-body">
                <span>
                {{word.word_description}} 
            </span>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}