<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MiDev Glossary</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
        <link rel="stylesheet" href="css/_variables.scss">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body class="background grey lighten-4">
        <!-- Header -->
        <main>
            <header>
                <nav class="header teal darken-4">
                    <div class="nav-wrapper">
                        <a href="{{url_for('get_words')}}" class="brand-logo"><strong>MiDev Glossary</strong></a>
                        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                            <li><a href="{{url_for('get_words')}}">Home</a></li>
                            <li><a href="{{url_for('add_word')}}">Add New Word</a></li>
                            <li><a href="{{url_for('get_categories')}}">Manage Categories</a></li>
                        </ul>
                        <ul class="side-nav" id="mobile-demo">
                            <li><a href="{{url_for('get_words')}}">Home</a></li>
                            <li><a href="{{url_for('add_word')}}">Add New Word</a></li>
                            <li><a href="{{url_for('get_categories')}}">Manage Categories</a></li>
                        </ul>
                    </div>
                </nav>
            </header>
            <!-- Intro -->
            <section class="image-container container-hero main-hero grey lighten-4">
                <div class="row no-margin">
                    <p class="hero-title">
                    <h1>Welcome to MiDev Glossary</h1>
                    <p><i>On this application you can find a compilation of IT and other tech terms that will help you understand your development team better.</i></p>
                    <p><i>You can add tech terms you have heard and spread knowledge with your colleagues.</i></p>
                </div>
            </section>
            <!-- Search -->
            <div class="container search-container">
                <div class="row input-field">
                    <form action="{{ url_for('get_search') }}">
                        <i class="material-icons prefix">search</i>
                        <input type="text" id="search" name="search" placeholder="Search" aria-label="search"/>
                    </form>
                </div>
                <!-- Alphabet -->
                <div>
                    <div class="ln-letters"><a class="all cc_pointer ln-selected waves-effect waves-teal btn-flat" href="{{url_for('get_words')}}">All</a>
                        <a class="_ cc_pointer waves-effect waves-teal btn-flat" href="{{url_for('get_letters', letter='^0-9')}}">0-9</a>
                        <a class="a waves-effect waves-teal btn-flat" href="{{url_for('get_letters', letter='^A')}}">A</a>
                        <a class="b waves-effect waves-teal btn-flat" href="{{url_for('get_letters', letter='^B')}}">B</a>
                        <a class="c waves-effect waves-teal btn-flat" href="{{url_for('get_letters', letter='^C')}}">C</a>
                        <a class="d waves-effect waves-teal btn-flat" href="{{url_for('get_letters', letter='^D')}}">D</a>
                        <a class="e waves-effect waves-teal btn-flat" href="{{url_for('get_letters', letter='^E')}}">E</a>
                        <a class="f waves-effect waves-teal btn-flat" href="{{url_for('get_letters', letter='^F')}}">F</a>
                        <a class="g waves-effect waves-teal btn-flat" href="{{url_for('get_letters', letter='^G')}}">G</a>
                        <a class="h waves-effect waves-teal btn-flat" href="{{url_for('get_letters', letter='^H')}}">H</a>
                        <a class="i waves-effect waves-teal btn-flat" href="{{url_for('get_letters', letter='^I')}}">I</a>
                        <a class="j waves-effect waves-teal btn-flat" href="{{url_for('get_letters', letter='^J')}}">J</a>
                        <a class="k waves-effect waves-teal btn-flat" href="{{url_for('get_letters', letter='^K')}}">K</a>
                        <a class="l waves-effect waves-teal btn-flat" href="{{url_for('get_letters', letter='^L')}}">L</a>
                        <a class="m waves-effect waves-teal btn-flat" href="{{url_for('get_letters', letter='^M')}}">M</a>
                        <a class="n waves-effect waves-teal btn-flat" href="{{url_for('get_letters', letter='^N')}}">N</a>
                        <a class="o waves-effect waves-teal btn-flat" href="{{url_for('get_letters', letter='^O')}}">O</a>
                        <a class="p waves-effect waves-teal btn-flat" href="{{url_for('get_letters', letter='^P')}}">P</a>
                        <a class="q waves-effect waves-teal btn-flat" href="{{url_for('get_letters', letter='^Q')}}">Q</a>
                        <a class="r waves-effect waves-teal btn-flat" href="{{url_for('get_letters', letter='^R')}}">R</a>
                        <a class="s waves-effect waves-teal btn-flat" href="{{url_for('get_letters', letter='^S')}}">S</a>
                        <a class="t waves-effect waves-teal btn-flat" href="{{url_for('get_letters', letter='^T')}}">T</a>
                        <a class="u waves-effect waves-teal btn-flat" href="{{url_for('get_letters', letter='^U')}}">U</a>
                        <a class="v waves-effect waves-teal btn-flat" href="{{url_for('get_letters', letter='^V')}}">V</a>
                        <a class="w waves-effect waves-teal btn-flat" href="{{url_for('get_letters', letter='^W')}}">W</a>
                        <a class="x waves-effect waves-teal btn-flat" href="{{url_for('get_letters', letter='^X')}}">X</a>
                        <a class="y waves-effect waves-teal btn-flat" href="{{url_for('get_letters', letter='^Y')}}">Y</a>
                        <a class="z waves-effect waves-teal btn-flat" href="{{url_for('get_letters', letter='^Z')}}">Z</a>
                    </div>
                    <p></p>
                </div>
                {% block content %} {% endblock %}
            </div>
        </main>
        <!-- Footer -->
        <footer class="page-footer teal darken-4">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <p class="white-text">MiDev Glossary</p>
                        <p class="grey-text text-lighten-4"></p>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © Victoria P. Ben-Chivar for Milestone 3
                </div>
            </div>
        </footer>
        <!-- Scripts -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <script>
            $(document).ready(function() {
                $('.collapsible').collapsible();
                $('select').material_select();
                $(".button-collapse").sideNav();
            });
        </script>
    </body>
</html>